<h4>Your calendar events at {{date}}:</h4>

			{% if calendarEventsForm  %}
				{{ form_start(calendarEventsForm) }}
					<table>
					<table class="table table-striped">
					<tbody>
						{% for event in calendarEventsForm.events %}
							<tr>
								<td scope="row">{{ form_row(event.toSuggestions)}}</td>
								<td scope="row">{{ form_label(event.title, event.title.vars.value)}}</td>
								<td scope="row">{{ form_label(event.startTime, event.startTime.vars.value)}} - {{ form_label(event.endTime, event.endTime.vars.value)}}</td>
								<td scope="row">{{ form_label(event.duration, event.duration.vars.value)}}</td>
							</tr>
						{% endfor %}	
					</tbody>
					</table>
					{{ form_row(calendarEventsForm.project, {'attr': {'class': 'form-control'}}) }}<br>
					{{ form_row(calendarEventsForm.service, {'attr': {'class': 'form-control'}}) }}<br>
					{{ form_row(calendarEventsForm.saveBtn, {'attr': {'class': 'btn btn-primary'}, 'label': 'Book selected to mite'}) }}
					{{ form_row(calendarEventsForm.date) }}
			 	{{ form_end(calendarEventsForm, {'render_rest': false}) }}
			{% else %}
				<div class="alert alert-info" role="alert">
					No calendar entries exists for this day.
				</div>	
			{% endif %}	