{# templates/mite/settings/projects.html.twig #}
{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block leftbody_settings %}


<h4>Your Default Projects</h4>
Here you could define which projects you want to have to select when making a new new mite entry (ee think you maybe don't want to see all your company projects). Additionally you directly could assign a service which will be pre selected when you choos the project for a mite entry.<p>
	{% if defaultProjects is defined and defaultProjects is not null and defaultProjects|length > 0 %}
			<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Project</th> 
					<th scope="col">Service to assign</th>
					<th scope="col" width=1>Actions</th>
				</tr>
			</thead>
			<tbody>
			
			{% for project in defaultProjects %}
				<tr>
					<td scope="row">{{ project.name }}</td>
					<td scope="row">{{ project.serviceName }}</td>
					<td scope="row"><button class="btn" onclick="location.href='{{ path('delete_default_project', {id: project.id}) }}';" ><i class="fa fa-trash"></i></button></td>
				</tr>
			{% endfor %}
			
			</tbody>
			</table>
	{% else %}
		<div class="alert alert-warning" role="alert">
			Currently there are no projects at Mite readable!
		</div>
	{% endif %}	
		<div>
			
			{{ form_start(form) }}
			<div class="row">
				<div class="col-sm-5">
					{{ form_row(form.project) }}
				</div>
				<div class="col-sm-5">
					{{ form_row(form.service) }}
				</div>

				<div class="col-sm-2">
					{{ form_row(form.saveBtn, {'attr': {'class': 'btn btn-primary'}, 'label': 'Add Project'}) }}
				</div>
			</div>	
		        {{ form_end(form) }}
		</div>

{% endblock %}

